<!-- Based on: http://codepen.io/ashblue/pen/mCtuA -->
<link rel="stylesheet" type="text/css" href="css/table.css"/>

<div class="container">
    <div class="not-printable">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <span class="table-add material-icons">add box</span>
                <div id="table">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Source</th>
                            <th>Translated</th>
                            <th></th>
                        </tr>
                        <tr class="template">
                            <td>
                                <div class="source-word" contenteditable="true" data-ph="Source word"></div>
                            </td>
                            <td>
                                <div class="destination-word" contenteditable="true" data-ph="Destination word"></div>
                            </td>
                            <td>
                                <span class="remove-row clickable material-icons">delete</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <!--<hr class="style-one">-->
        </div>
        <div class="row">
            <div class="options col-md-offset-3 col-md-4">
                <span>elements per page</span>
                <div class="btn-group">
                    <a type="button" class="btn btn-primary dropdown-toggle"
                       data-toggle="dropdown">
                        <span id='elements-per-page-value'>15</span> <span class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a>10</a></li>
                        <li><a>15</a></li>
                        <li><a>20</a></li>
                        <li><a>25</a></li>
                        <li><a>30</a></li>
                        <li><a>35</a></li>
                        <li><a>40</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <span id="shuffle" class="material-icons clickable">forward</span>
            </div>
        </div>
    </div>
    <div id="result"></div>
</div>
